# Misc
.vscode
.claude
.cursor

.sw*

# Compiled Artifacts
*.bin
*.hex
*.o
*.map
*_commands.json

# CMake Collaterals
build
*.dtb
*.dts

# Built toolchain (too large)
lib/

scripts/run-qemu.sh

# BUT allow bsp/lib
!bsp/lib/
!bsp/lib/**

# Python
__pycache__
*.log


riscvqemu.pdf
